

<div class="header">
  
  <div class="img-content">
    <div class="img1">
      <img src="assets/images/hh.png" id="harry" alt="">
    </div>
    <div class="img2">
      <img src="assets/images/vv.png" alt="">
      <div class="shrjan"></div>
      <img src="assets/images/gif.gif" alt="" class="av">
    
    </div>
    <div class="metla ">
      <img class="mm" src="assets/images/mmm.png" alt="">
    </div>
  </div>
  

  
  <app-film></app-film>


<div class="snitch">
  <img class="snich" src="assets/images/sn.png" alt="">
  <img src="assets/images/sl.png" alt="" class="sl">
  <img src="assets/images/sr.png" alt="" class="sr">

   </div>
  </div>
  